<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chronos</title>
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
	<div id="patternBG">
		<header>
			<h1>Chronos</h1>
			<h2>simple and elegant calendar</h2>
			<div class="client">
				<a href="/register">Register</a>
				<a href="/login">Login</a>
			</div>
		</header>
		<div id="cta">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, neque quasi harum modi saepe nulla laboriosam molestias molestiae id placeat. Repudiandae inventore ipsum illo dolor excepturi animi omnis neque dolorem.</p>
			<a href="#features" class="button">Learn More</a>
		</div>
	</div>
	<div id="container">
			<div id="features">
				<h3>Features</h3>
				<div class="revCon">
					<div class="icon" id="calendar"></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, quod, facilis ad perferendis qui esse voluptatibus. Obcaecati, molestias, placeat maiores aperiam dicta dolore odio recusandae autem nam sint. Cupiditate, provident.</p>
				</div>
				<div class="revCon">
					<p>Dolor, illum, mollitia ab nihil in vero id harum quibusdam voluptate sed minima excepturi aspernatur magnam accusamus odio atque cupiditate sunt. Magnam, reprehenderit fugiat fugit dolor laborum ratione exercitationem itaque.</p>
					<div class="icon" id="user"></div>
				</div>
				<div class="revCon">
					<div class="icon" id="bolt"></div>
					<p>Repellat, recusandae, quibusdam, tempora, magni minima rerum et deserunt culpa animi est alias veniam id eaque sapiente odit saepe ea atque laboriosam velit ducimus. Veniam sit est amet vero modi.</p>
				</div>
				<div class="revCon">
					<p>Fuga, itaque, sequi, voluptas facere rerum ut dolorum nihil debitis culpa sapiente tenetur voluptates laudantium et accusamus eaque praesentium aperiam deleniti? Praesentium ipsa perspiciatis necessitatibus sapiente omnis cupiditate est accusamus?</p>
					<div class="icon" id="phone"></div>
				</div>
			</div>
			<div id="reviews">
				<h3>Reviews</h3>
				<div class="reviewPic">
					<div id="review1"></div>
					<q>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, id, doloribus, necessitatibus suscipit optio molestiae rerum nobis quas alias placeat mollitia error odio quis repellendus excepturi amet provident sed voluptates.
					</q>
				</div>
				<div class="reviewPic">
					<div id="review2"></div>
					<q>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, id, doloribus, necessitatibus suscipit optio molestiae rerum nobis quas alias placeat mollitia error odio quis repellendus excepturi amet provident sed voluptates.
					</q>
				</div>
				<div class="reviewPic">
					<div id="review3"></div>
					<q>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, id, doloribus, necessitatibus suscipit optio molestiae rerum nobis quas alias placeat mollitia error odio quis repellendus excepturi amet provident sed voluptates.
					</q>
				</div>
			</div>
	</div>
	<footer>
		<small>&copy; 2013. Created by Jeremy McGraw.</small>
	</footer>
</body>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
</html>