<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chronos</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div id="patternBG">
		<header>
			<h1>Chronos</h1>
			<h2>simple and elegant calendar</h2>
			<div class="client">
				<a href="/register">Register</a>
				<a href="/login">Login</a>
			</div>
		</header>
		<div id="cta">
			<p>Chronos is a simple, fast, and easy to use calendar application. With Chronos, you can keep track of your busy life no matter where you go. Best of all, Chronos is free!</p>
			<a href="#features" class="button">Learn More</a>
		</div>
	</div>
	<div id="container">
		<h3>Features</h3>
			<div id="features">
				<div class="revCon">
					<div class="icon" id="calendar"></div>
					<p>Chronos is a calendar application that strips down to the basic so there’s no extra clutter that you don’t need.</p>
				</div>
				<div class="revCon">
					<p>Chronos was designed for you! We know people don’t want to use complicated applications so we made it super easy for you to use!</p>
					<div class="icon" id="user"></div>
				</div>
				<div class="revCon">
					<div class="icon" id="bolt"></div>
					<p>Chronos was build to be fast. We know you have a busy schedule and you want to do things very quickly.</p>
				</div>
				<div class="revCon">
					<p>Chronos not only works on desktop, but also works on mobile devices and tablets letting you use Chronos no matter where you are!</p>
					<div class="icon" id="phone"></div>
				</div>
			</div>
			<div id="reviews">
				<h3>Reviews</h3>
				<div class="reviewPic">
					<div id="review1"></div>
					<q>Best calendar app ever!</q>
				</div>
				<div class="reviewPic">
					<div id="review2"></div>
					<q>Awesome calendar app! It’s simple to use and super fast!</q>
				</div>
				<div class="reviewPic">
					<div id="review3"></div>
					<q>I made the app, so of course I’m going to say it’s awesome!</q>
				</div>
			</div>
	</div>
	<footer>
		<small>&copy; 2013. Created by Jeremy McGraw.</small>
	</footer>
</body>
</html>