<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chronos | Login</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body class="siteBG">
	<header>
		<a href="/"><h1>Chronos</h1></a>
		<h2>simple and elegant calendar</h2>
		<div class="client">
			<a href="#">Register</a>
			<a href="/login">Login</a>
		</div>
	</header>
	<h3>Register</h3>
	<div id="regForm">
		<form action="/addUser" method="post">
			<label for="#">Email:</label>
			<input type="text" name="email" placeholder="johndoe@email.com">
			<label for="#">Password:</label>
			<input type="password" name="password" placeholder="••••••">
			<label for="#">Confirm Password:</label>
			<input type="password" name="confirmPassword" placeholder="••••••">
			<input type="submit" class="button" value="Login">
		</form>
	</div>
	<footer>
		<small>&copy; 2013. Created by Jeremy McGraw.</small>
	</footer>
</body>
</html>